* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --dark: #1f2937;
  --button: #3882f6;
}

html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

a:hover {
  color: var(--secondary-color);
}

ul {
  list-style: none;
}

button {
  background-color: var(--button);
  color: var(--primary-color);
  padding: 5px 25px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  color: var(--secondary-color);
}

a:active {
  text-decoration: underline;
}

a.active {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--button);
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: var(--dark);
  padding: 0.5rem 0;
}

.logo {
  padding: 0.5rem 2rem;
}

.main-menu {
  display: flex;
  gap: 10px;
}

.hero {
  background-color: var(--dark);
  padding: 50px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1;
  padding-right: 4rem;
}

.hero-left h1 {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 48px;
}

.hero-left p {
  font-size: 18px;
  color: var(--secondary-color);
}

.hero-left button {
  border-color: var(--button);
  border: 1px solid var(--button);
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.info-container {
  flex-direction: column;
  padding: 50px 20px;
  gap: 30px;
}

.info-section-title {
  font-size: 36px;
  color: var(--dark);
  font-weight: 900;
}

.info-section-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.info-section-box {
  max-width: 150px;
  text-align: center;
}

.info-section-box img {
  width: 150px;
  height: auto;
  border: 2px solid var(--button);
  border-radius: 10px;
}

.testimonial-section {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 80px 40px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 20px;
  margin: 0 auto;
}

.quote {
  font-size: 36px;
  color: var(--dark);
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.quote-container .author {
  color: var(--dark);
  font-weight: 900;
  align-self: flex-end;
}

.cta-section {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 60px 60px;
}

.cta-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: var(--button);
  padding: 30px 80px;
  border-radius: 10px;
}

.cta-left h4 {
  color: var(--primary-color);
}

.cta-left p {
  color: var(--secondary-color);
}

.cta-button {
  border: 2px solid var(--primary-color);
}

.footer {
  background-color: var(--dark);
  color: var(--primary-color);
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
